:root{
    --card-width : 6rem;
    --card-height : 40px;
}

.card-main{
    width: var(--card-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

.card{
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    max-width: 100%;
    padding: 0;
    /* width: var(--card-width); */
    height: var(--card-height);
    transition: all 300ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.close{
    position: absolute;
    top: 30px;
    right:-10px;
    background: #ff0000;
}

.icon-btn{
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    border: none;
    font-size: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.icon-btn:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.icon-btn:active{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* .card-two{
    width: calc( var(--card-width) * 2 + 30px);
}

.card-two-body{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

.vrbar{
    width: 5px;
    height: 40px;
    background: white;
    margin: 0 auto;
}

.hrbar{
    height: 5px;
    width: 180px;
    background: white;
    margin: 0 auto;
}

.two-bars{
    position: absolute;

}

.plus{
    margin: 0 auto;
    padding: 15px;
    color: black;
}