.App {
    height: 100vh;
    width: 100vw;
}


.navbar > .title{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    padding: 15px;
}

.flow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
    width: 100%;
    height: 100%;
}